@import "../../styles.scss";

.d-none {
  display: none !important;
}

.hidden {
  visibility: hidden;
}

#projects {
  width: 100%;
  height: 600px;
  display: flex;
  background-color: #1c1c1c;
  padding: 0 96px 0;
}

.portfolio {
  width: 820px;
  height: 570px;
  display: flex;
  flex-direction: column;
}

.portfolio-headlines-wrapper {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  gap: 32px;
  > h2 {
    font-family: "Karla";
    font-weight: 700;
    font-size: 24px;
    color: $green;
    margin: 0;
  }
  > h3 {
    font-family: "Fira Code";
    font-weight: 700;
    font-size: 64px;
    color: $green;
    margin: 0;
  }
  > span {
    font-family: "Karla";
    font-weight: 400;
    font-size: 18px;
    color: white;
  }
}

.projects-box {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  border-top: 1px solid $green;
}

.single-project {
  width: 100%;
  height: 110px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 32px;
  font-family: "Fira Code";
  font-weight: 700;
  font-size: 24px;
  color: white;
  border-bottom: 1px solid $green;
  cursor: pointer;
  transition: ease-in-out 0.25s;
  &:hover {
    background-color: #3dcfb64a;
    > .text-wrapper {
      > img {
        transform: scale(1);
      }
    }
  }
  > span {
    width: fit-content;
    height: 22px;
    font-family: "Karla";
    font-weight: 400;
    font-size: 18px;
    color: white;
    display: flex;
    justify-content: flex-end;
    gap: 4px;
  }
  .text-wrapper {
    width: 80px;
    height: 30px;
    gap: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    > img {
      width: 13px;
      height: 13px;
      transform: scale(0);
      transition: transform 0.25s ease-in-out;
    }
  }

  .separator {
    color: $green;
  }
}

.screenshot-box-wrapper {
  width: 350px;
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.screenshot-box-join {
  width: 320px;
  height: 350px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 56px 0 0 0;
}

.slantedlines-small-join {
  width: 300px;
  height: 200px;
  border-radius: 16px;
  position: relative;
  top: 213px;
  right: -20px;
  z-index: 1;
}

.project-screenshot-join {
  width: 300px;
  height: 200px;
  border-radius: 16px;
  z-index: 500;
}

.screenshot-box-sharkie {
  width: 320px;
  height: 350px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 24px 0 0 0;
}

.slantedlines-small-sharkie {
  width: 300px;
  height: 200px;
  border-radius: 16px;
  position: relative;
  top: -177px;
  right: -20px;
  z-index: 1;
}

.project-screenshot-sharkie {
  width: 300px;
  height: 200px;
  border-radius: 16px;
  z-index: 500;
}

@media screen and (max-width: 1370px) {
  .portfolio-headlines-wrapper {
    > h3 {
      font-size: 48px;
    }
  }
}

@media screen and (max-width: 1050px) {
  #projects {
    height: fit-content;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .portfolio {
    width: 100%;
    justify-content: flex-start;
    align-items: center;
  }
  .screenshot-box-wrapper {
    width: 100%;
    height: 350px;
    flex-direction: row;
    > .screenshot-box-join {
      flex-direction: row;
      justify-content: flex-end;
      align-items: flex-start;
      padding: 0;
      > .slantedlines-small-join {
        top: 16px;
        left: 280px;
      }
    }
    > .screenshot-box-sharkie {
      padding: 0;
    }
  }
}

@media screen and (max-width: 864px) {
  #projects {
    padding: 74px 48px 0;
  }
  .screenshot-box-wrapper {
    display: none !important;
  }
  .single-project {
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }
}

@media screen and (max-width: 430px) {
  .portfolio-headlines-wrapper {
    width: 270px;
  }
  .single-project {
    padding: 0;
  }
}
