<section class="projects">
    <div class="portfolio">
        <div class="portfolio-headlines-wrapper">
            <h2>Portfolio</h2>
            <h3>vorgestellte Projekte</h3>
            <span>Entdecken Sie hier eine Auswahl meiner Arbeiten. Interagieren Sie mit Projekten, um meine Fähigkeiten in Aktion zu sehen.</span>
            <div class="projects-box">
                <div class="single-project">
                    <div class="text-wrapper">Join<img class="d-none" src="../../assets/img/arrow_outward.png" alt="arrow_outward">
                    </div>
                    <span>HTML | CSS | Javascript | Firebase</span>
                </div>
                <div class="single-project">
                    <div class="text-wrapper">Sharkie<img class="d-none" src="../../assets/img/arrow_outward.png" alt="arrow_outward">
                    </div>                  
                    <span>HTML | CSS | Javascript | OOP</span>
                </div>
            </div>
        </div>

    </div>



</section>
