<header class="header">
    <nav class="navigation">
        <div class="language-switcher" (click)="useLanguage(isGerman ? 'de' : 'en')">
            <img
              class="language-switcher__icon"
              [class.language-switcher__icon--animating]="isAnimating"
              [src]="currentLanguageIcon"
              [alt]="isGerman ? 'Deutsch' : 'English'"
            />
          </div>
    <div class="link-wrapper">       
        <a class="link" href="#aboutme">{{ 'aboutme-header' | translate }}</a>
    <div class="green-point"></div>
    </div> 
        <div class="link-wrapper">
        <a class="link" href="#skills">{{ 'skills-header'| translate }}</a>
        <div class="green-point"></div>
    </div>
    <div class="link-wrapper">      
        <a class="link" href="#projects">{{ 'projects-header' | translate }}</a>
        <div class="green-point"></div>
    </div>  
    </nav>
    <img class="logo" src="" alt="logo">
</header>
