<section class="hero">
    <div class="scroll-down">
        <div class="scroll-down-button"><span>&#8595;</span></div>
        <div class="y-line-left"></div>
    </div>
<div class="hero-name">
    <span>Frontend Developer</span>
    <h1>Sebastian Regending</h1>
    <div class="button-wrapper">
    <button class="check-my-work">Check my work</button>
    <button class="contact-me">Contact me</button>
</div>
<div class="banner">
    <div class="scrolling-banner">
    <div class="banner-point"></div>
    <span class="banner-text">Available for remote work</span>
    <div class="banner-point"></div>
    <span class="banner-text">Frontend Developer</span>
    <div class="banner-point"></div>
    <span class="banner-text">Based in Breisach am Rhein</span>
    <div class="banner-point"></div>
</div>
</div>
</div>
<div class="contacts">
    <div class="email">
        <a href="mailto:#">sebastian&#64;sebastian-regending.de</a>
    </div>
    <div class="social-media">
        <a href="https://github.com/SebastianRegending" target="_blank" class="social-media-github" ><img src="../../assets/img/github.png" alt="github"></a>
        <a href="https://linkedin.com/in/sebastian-regending-084b9b31a" target="_blank" class="social-media-linkedin"><img src="../../assets/img/linkedin.png" alt="linkedin"></a> 
    </div>
    <div class="y-line-right"></div>
</div>
</section>
