@import "../../styles.scss";

.d-none {
  display: none !important;
}

.hero {
  width: 100%;
  height: calc(100vh - 98px);
  background: linear-gradient(to right top, #1c1c1c, #08463b);
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  overflow: hidden;

  .scroll-down {
    width: 30px;
    height: 320px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
    > .scroll-down-button {
      width: 30px;
      height: 48px;
      border: 1px solid $green;
      border-radius: 32px;
      color: white;
      display: flex;
      justify-content: center;
      align-items: center;
      > span {
        animation: arrow-down 1.5s linear infinite;
      }
    }
    > .y-line-left {
      width: 1px;
      height: 240px;
      border: 1px solid $green;
    }
  }

  .contacts {
    width: 32px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 24px;
    > .email {
      width: 22px;
      height: fit-content;
      display: flex;
      justify-content: center;
      align-items: flex-end;
      > a {
        color: white;
        transition: ease-in-out 0.25s;
        text-decoration: none;
        font-family: "Karla";
        font-weight: 400;
        font-size: 18px;
        writing-mode: vertical-rl;
        rotate: (180deg);
        text-wrap: nowrap;
        &:hover {
          color: $green;
        }
      }
    }
    > .social-media {
      width: 32px;
      height: 76px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      cursor: pointer;
      > .social-media-github {
        width: 26px;
        height: 26px;
        transition: ease-in-out 0.25s;
        &:hover {
          content: url(../../assets/img/github-white.png);
        }
      }
      > .social-media-linkedin {
        width: 26px;
        height: 26px;
        transition: ease-in-out 0.25s;
        &:hover {
          content: url(../../assets/img/linkedin-white.png);
        }
      }
    }
    > .y-line-right {
      width: 1px;
      height: 186px;
      border: 1px solid $grey;
    }
  }
}

.content {
  height: 800px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  overflow: hidden;
  padding: 0 96px;
}

.hero-name {
  width: 755px;
  height: 268px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  gap: 12px;
  margin: 0;
  z-index: 1;
  > span {
    font-family: "Fira Code";
    font-weight: 400;
    font-size: 40px;
    color: $grey;
  }
  > h1 {
    font-family: "Karla";
    font-weight: 700;
    font-size: 128px;
    color: $grey;
    text-align: center;
    margin: 0;
  }
  .button-wrapper {
    width: fit-content;
    height: 48px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 40px 0 180px 0;
    gap: 24px;
    > a {
      > .check-my-work {
        width: fit-content;
        height: 48px;
        border: 1px solid white;
        border-radius: 100px;
        padding: 0 24px;
        background-color: transparent;
        font-family: "Karla";
        font-weight: 400;
        font-size: 18px;
        color: $grey;
        cursor: pointer;
        overflow: hidden;
        transition: text-indent 1s, border-color 1s, color 1s;
        &:hover {
          text-indent: -250%;
          border-color: $green;
          color: $green;
        }
      }
    }
    > a {
      > .contact-me {
        width: fit-content;
        height: 48px;
        border: 1px solid white;
        border-radius: 100px;
        padding: 0 24px;
        background-color: transparent;
        font-family: "Karla";
        font-weight: 400;
        font-size: 18px;
        color: $grey;
        cursor: pointer;
        overflow: hidden;
        transition: text-indent 1s, border-color 1s, color 1s;
        &:hover {
          text-indent: -250%;
          border-color: $green;
          color: $green;
        }
      }
    }
  }

  .links-menu-mobile {
    width: 755px;
    height: fit-content;
    > .scroll-down-mobile {
      width: 30px;
      height: 290px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      z-index: 1;
      > .scroll-down-button {
        width: 30px;
        height: 48px;
        border: 1px solid $green;
        border-radius: 32px;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        > span {
          animation: arrow-down 1.5s linear infinite;
        }
      }
      > .y-line-left {
        width: 1px;
        height: 240px;
        border: 1px solid $green;
      }
    }
    > .contacts-mobile {
      width: 32px;
      height: fit-content;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      gap: 24px;
      > .email {
        width: 22px;
        height: fit-content;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        > a {
          color: white;
          transition: ease-in-out 0.25s;
          text-decoration: none;
          font-family: "Karla";
          font-weight: 400;
          font-size: 18px;
          writing-mode: vertical-rl;
          rotate: (180deg);
          text-wrap: nowrap;
          &:hover {
            color: $green;
          }
        }
      }
      > .social-media {
        width: 32px;
        height: 76px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        cursor: pointer;
        > .social-media-mail {
          width: 28px;
          height: 22px;
          transition: ease-in-out 0.25s;
          &:hover {
            content: url(../../assets/img/mail-white.png);
          }
        }
        > .social-media-github {
          width: 26px;
          height: 26px;
          transition: ease-in-out 0.25s;
          &:hover {
            content: url(../../assets/img/github-white.png);
          }
        }
        > .social-media-linkedin {
          width: 26px;
          height: 26px;
          transition: ease-in-out 0.25s;
          &:hover {
            content: url(../../assets/img/linkedin-white.png);
          }
        }
      }
      > .y-line-right {
        width: 1px;
        height: 186px;
        border: 1px solid $grey;
      }
    }
  }

  .banner {
    width: 1920px;
    height: 62px;
    padding: 12px 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $green;
    background-color: rgb(255 255 255 / 12%);
    backdrop-filter: blur(5.3px);
    rotate: (-3deg);
    z-index: 500;
    position: relative;
    top: -60px;
    > .scrolling-banner {
      width: 100%;
      height: 38px;
      gap: 56px;
      display: flex;
      justify-content: center;
      align-items: center;
      white-space: nowrap;
      animation: scrollBanner 30s linear infinite;
      > .banner-point {
        width: 10px;
        height: 8px;
        border-radius: 100%;
        border: unset;
        background-color: $green;
        flex-shrink: 0;
      }
      > .banner-text {
        width: 100%;
        height: 38px;
        font-family: "Karla";
        font-weight: 400;
        font-size: 32px;
        text-align: center;
        white-space: nowrap;
      }
    }
  }
}
@keyframes scrollBanner {
  from {
    transform: translate3d(100%, 0%, 0px);
  }
  to {
    transform: translate3d(-100%, 0%, 0px);
  }
}

@keyframes arrow-down {
  0% {
    transform: translateY(-8px);
  }
  50% {
    transform: translateY(8px);
  }
  100% {
    transform: translateY(-8px);
  }
}

@media screen and (max-width: 1050px) {
  .content {
    padding: 0 48px;
    .hero-name {
      width: 655px;
      > h1 {
        font-size: 96px;
      }
      > span {
        font-size: 32px;
      }
      > .banner {
        top: -40px;
      }
    }
  }
}

@media screen and (max-width: 864px) {
  .content {
    > .scroll-down {
      display: none !important;
    }
    > .contacts {
      display: none !important;
    }

    .hero-name {
      width: 100%;
      > .button-wrapper {
        margin: 48px 0 48px 0;
      }
      > .links-menu-mobile {
        width: 100%;
        display: flex !important;
        justify-content: space-between;
        > .scroll-down-mobile {
          height: 296px;
        }
        > .contacts-mobile {
          height: 260px;
          display: flex !important;
          > .social-media {
            height: fit-content;
            gap: 12px;
          }
        }
      }
      > h1 {
        font-size: 78px;
      }
      > span {
        font-size: 24px;
      }
    }
  }
}

@media screen and (max-width: 430px) {
  .hero {
    height: fit-content;
  }
  .content {
    height: fit-content;
    padding: 0 24px;
    > .hero-name {
      height: fit-content;
      margin: 74px 0 0 0;
      > h1 {
        font-size: 58px;
      }
      > span {
        font-size: 24px;
      }
      > .banner {
        height: 50px;
        > .scrolling-banner {
          height: 30px;
          gap: 40px;
          > .banner-point {
            width: 8px;
            height: 6px;
          }
          > .banner-text {
            width: fit-content;
            height: fit-content;
            font-size: 24px;
          }
        }
      }
      > .links-menu-mobile {
        align-items: flex-end;
      }
    }
  }
}
