<section id="contactme">
    <div class="content">
<div class="content-wrapper">
<div class="lets-work">
    <h2>{{ 'contactme-contactsection' | translate }}</h2>
    <h3>{{ 'letsworktogether-contactsection' | translate }}</h3>
    <h4>{{ 'solveproblem-contactsection' | translate }}</h4>
    <p>{{ 'contactmeformular-contactsection' | translate }}<br>
        {{ 'iminterested-contactsection' | translate }}<br><br>
        {{ 'youneed-contactsection' | translate }} <span>{{ 'youneedspan-contactsection' | translate }}</span></p>
</div>
<div class="form-wrapper">
<form class="form" (ngSubmit)="onSubmit(contactForm)" #contactForm="ngForm">
    <div class="form-element">
    <label for="name">{{ 'formname-contactsection' | translate }}</label>
    <input #name="ngModel" [(ngModel)]="contactData.name" type="text" name="name" [placeholder]="!name.valid && name.touched ? ('alertnamemissing-contactserction' | translate) : ('placeholdername-contactsection' | translate)" [ngClass]="{'placeholder-color-red': !name.valid && name.touched}" required>
</div>
<div class="form-element">
    <label for="email">{{ 'formmail-contactsection' | translate }}</label>
    <input #email="ngModel" [(ngModel)]="contactData.email" (keyup)="onEmailBlur(email)" (blur)="onEmailBlur(email)" type="text" name="email" [placeholder]="!email.valid && email.touched ? ('alertmailmissing-contactsection' | translate) : ('placeholdermail-contactsection' | translate)" [ngClass]="{'placeholder-color-red': !email.valid && email.touched}" required pattern="[a-zA-Z0-9._%+\-]+@[a-zA-Z0-9.\-]+\.[a-zA-Z]{2,}">
    <span class="error-message" *ngIf="showEmailError">
        {{ 'invalid-email-contactsection' | translate }}
    </span>
</div>
<div class="last-form-element">
    <label for="issue">{{ 'formconcern-contactsection' | translate }}</label>
    <textarea #message="ngModel" [(ngModel)]="contactData.message" type="text" minlength="10" name="issue" [placeholder]="!message.valid && message.touched ? ('altertmessage-contactsection' | translate) : ('placeholdermessage-contactsection' | translate)" [ngClass]="{'placeholder-color-red': !message.valid && message.touched}" required></textarea>
</div>
<div class="checkbox-form">
<div class="checkbox-wrapper">
    <input type="checkbox" name="accept-privacy-policy" class="checkbox" [(ngModel)]="contactData.acceptPrivacyPolicy" (ngModelChange)="onPrivacyPolicyChange($event)">
</div>
<div class="privacy-policy-wrapper">
    <p>{{ 'ive-contactsection' | translate }} <span routerLink="/privacy-policy">{{ 'privacypolicy-contactsection' | translate }}</span> {{ 'agree-contactsection' | translate }}</p>
    <span class="notice-accept" *ngIf="showPrivacyPolicyNotice">{{ 'acceptprivacypolicy-contactsection' | translate }}</span>
</div>
</div>
<div class="hello-button-wrapper">
    <button class="hello-button" type="submit" [disabled]="!isFormValid()">{{ 'sayhello-contactsection' | translate }}</button>
</div>
</form>
</div>
<div class="submit-dialog" *ngIf="showSubmitDialog">
    <div class="dialog-content">
        <h3>{{ 'formsubmitdialog-title' | translate }}</h3>
        <p>{{ 'formsubmitdialog-message' | translate }}</p>
        <button (click)="closeDialog()">{{ 'ok-button' | translate }}</button>
    </div>
</div>
</div>
</div>
</section>
