@import "../../styles.scss";

#contactme {
  width: 100%;
  height: 700px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1c1c1c;
  padding: 0 96px 0;
}

.content-wrapper {
  width: 1300px;
  height: 540px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.lets-work {
  width: 620px;
  height: 340px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 20px;
  > h2 {
    font-family: "Karla";
    font-weight: 500;
    font-size: 24px;
    color: $green;
    margin: 0;
  }
  > h3 {
    font-family: "Fira Code";
    font-weight: 700;
    font-size: 64px;
    color: $green;
    margin: 0;
  }
  > h4 {
    font-family: "Fira Code";
    font-weight: 700;
    font-size: 24px;
    color: $green;
    margin: 0;
  }
  > p {
    font-family: "Karla";
    font-weight: 400;
    font-size: 16px;
    color: white;
    > span {
      color: $green;
    }
  }
}
.form-wrapper {
  width: 620px;
  height: 550px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form {
  width: 550px;
  height: 550px;
  display: flex;
  flex-direction: column;
  > .form-element {
    width: 550px;
    height: 130px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    border-top: 1px solid #3dcfb680;
    padding: 24px;
    gap: 16px;
    > label {
      width: fit-content;
      height: 30px;
      font-family: "Fira Code";
      font-weight: 500;
      font-size: 24px;
      color: $green;
    }
    > input {
      width: 470px;
      height: 22px;
      font-family: "Karla";
      font-weight: 400;
      font-size: 18px;
      border: none;
      background-color: #1c1c1c;
      color: white;
      &:focus {
        outline: none;
      }
      &.placeholder-color-red::placeholder {
        color: #ec7b7bcc;
      }
    }
  }
  > .last-form-element {
    width: 550px;
    height: 130px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    border-top: 1px solid #3dcfb680;
    border-bottom: 1px solid #3dcfb680;
    padding: 24px;
    gap: 16px;
    > label {
      width: fit-content;
      height: 30px;
      font-family: "Fira Code";
      font-weight: 500;
      font-size: 24px;
      color: $green;
    }
    > textarea {
      width: 470px;
      height: 22px;
      font-family: "Karla";
      font-weight: 400;
      font-size: 18px;
      border: none;
      background-color: #1c1c1c;
      color: white;
      resize: none;
      overflow-y: hidden;
      &:focus {
        outline: none;
      }
      &.placeholder-color-red::placeholder {
        color: #ec7b7bcc;
      }
    }
  }

  .checkbox-form {
    width: 550px;
    height: 30px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 40px 0;
    > .privacy-policy-wrapper {
      width: 550px;
      height: 30px;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      gap: 8px;
      > p {
        font-family: "Karla";
        font-weight: 400;
        font-size: 15px;
        margin: 0;
        color: white;
        > span {
          font-family: "Fira Code";
          font-weight: 400;
          font-size: 15px;
          color: $green;
          cursor: pointer;
        }
      }
    }
  }

  .checkbox-wrapper {
    width: fit-content;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 0 8px 0 0;
  }

  .checkbox-wrapper label {
    display: block;
    max-width: 100%;
    margin: 0 auto;
  }

  .checkbox-wrapper input[type="checkbox"] {
    -webkit-appearance: none;
    appearance: none;
    vertical-align: middle;
    background: #1c1c1c;
    font-size: 14px;
    border-radius: 2px;
    display: inline-block;
    border: 2px solid $green;
    width: 16px;
    height: 16px;
    position: relative;
  }
  .checkbox-wrapper input[type="checkbox"]:before,
  .checkbox-wrapper input[type="checkbox"]:after {
    content: "";
    position: absolute;
    background: $green;
    width: calc(2px * 3);
    height: 2px;
    top: 50%;
    left: 12%;
    transform-origin: left center;
  }
  .checkbox-wrapper input[type="checkbox"]:before {
    transform: rotate(45deg) translate(calc(2px / -2), calc(2px / -2)) scaleX(0);
    transition: transform 200ms ease-in 200ms;
  }
  .checkbox-wrapper input[type="checkbox"]:after {
    width: calc(2px * 5);
    transform: rotate(-45deg) translateY(calc(2px * 2)) scaleX(0);
    transform-origin: left center;
    transition: transform 200ms ease-in;
  }
  .checkbox-wrapper input[type="checkbox"]:checked:before {
    transform: rotate(45deg) translate(calc(2px / -2), calc(2px / -2)) scaleX(1);
    transition: transform 200ms ease-in;
  }
  .checkbox-wrapper input[type="checkbox"]:checked:after {
    width: calc(2px * 5);
    transform: rotate(-45deg) translateY(calc(2px * 2)) scaleX(1);
    transition: transform 200ms ease-out 200ms;
  }
  .checkbox-wrapper input[type="checkbox"]:focus {
    outline: calc(2px / 2) dotted rgba(0, 0, 0, 0.25);
  }

  .notice-accept {
    font-family: "Karla";
    font-weight: 400;
    font-size: 14px;
    color: #ec7b7bcc;
  }
}

.hello-button-wrapper {
  width: 550px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hello-button {
  width: 174px;
  height: 48px;
  border: 1px solid white;
  border-radius: 100px;
  padding: 0 24px;
  background-color: transparent;
  font-family: "Karla";
  font-weight: 400;
  font-size: 18px;
  color: $grey;
  cursor: pointer;
  overflow: hidden;
  transition: text-indent 1s, border-color 1s, color 1s;
  &:hover {
    text-indent: -250%;
    border-color: $green;
    color: $green;
  }
  &:disabled {
    border-color: #d9d9d94d;
    color: #d9d9d94d;
  }
}

.hello-button:disabled {
  pointer-events: none;
}
