<section id="skills">
    <div class="tech-skills-wrapper">
    <div class="technologies-wrapper">
        <h2>{{ 'technologies-skillssection' | translate }}</h2>
        <div class="technologies-box">
            <h3>{{ 'skills-skillssection' | translate }}</h3>
            <div class="box-content">
                <div class="introduction">{{ 'introduction-skillssection' | translate }}
                </div>
                <div class="another-skill">
                    <h2>{{ 'needanotherh2-skillssection' | translate }} <span>{{ 'anotherskillsspan-skillssection' | translate }}</span></h2>
                    <p>{{ 'anotherskill-skillssection' | translate }}</p>
                </div>
                <a href="#contactme"><button class="lets-talk">{{ 'letstalk-skillssection' | translate }}</button></a>
            </div>
        </div>
    </div>

    <div class="skillset">
    <div class="single-skill" *ngFor="let skill of mySkills"><img src="{{ skill.image }}" alt="html">{{ skill.title }}</div>
    <div class="single-skill-growthmindset">
        <img src="../../assets/img/growthmindset.png" alt="growthmindset">Growth Mindset
        <div class="tooltip-wrapper"><img class="growthmindset-tooltip" src="../../assets/img/reactvue.png" alt="growthmindset-tooltip"></div>
    </div>
</div>
    
</div>

</section>
