<section class="skills">
    <div class="tech-skills-wrapper">
    <div class="technologies-wrapper">
        <h2>Technologien</h2>
        <div class="technologies-box">
            <h3>Fähigkeiten</h3>
            <div class="box-content">
                <div class="introduction">Auf meinem Weg habe ich an verschiedenen Projekten gearbeitet und dabei eine Reihe von Frontend-Technologien und -Konzepten eingesetzt. Ich bin offen für neue Technologien und Methoden, um meine Fähigkeiten kontinuierlich zu verbessern und in der sich ständig weiterentwickelnden Landschaft der Webentwicklung an der Spitze zu bleiben.
                </div>
                <div class="another-skill">
                    <h2>Sie benötigen eine <span>andere Fähigkeit?</span></h2>
                    <p>Nehmen Sie gerne Kontakt mit mir auf. Ich freue mich darauf, meine bisherigen Kenntnisse zu erweitern.</p>
                </div>
                <button class="lets-talk">Lass uns reden</button>
            </div>
        </div>
    </div>

    <div class="skillset">
    <div class="single-skill"><img src="../../assets/img/html.png" alt="html">HTML</div>
    <div class="single-skill"><img src="../../assets/img/css.png" alt="css">CSS</div>
    <div class="single-skill"><img src="../../assets/img/javascript.png" alt="javascript">Javascript</div>
    <div class="single-skill"><img src="../../assets/img/materialdesign.png" alt="materialdesign">Material Design</div>
    <div class="single-skill"><img src="../../assets/img/typescript.png" alt="typescript">Typescript</div>
    <div class="single-skill"><img src="../../assets/img/angular.png" alt="angular">Angular</div>
    <div class="single-skill"><img src="../../assets/img/firebase.png" alt="firebase">Firebase</div>
    <div class="single-skill"><img src="../../assets/img/git.png" alt="git">Git</div>
    <div class="single-skill"><img src="../../assets/img/api.png" alt="restapi">REST-API</div>
    <div class="single-skill"><img src="../../assets/img/scrum.png" alt="scrum">SCRUM</div>
    <div class="single-skill-growthmindset"><img src="../../assets/img/growthmindset.png" alt="growthmindset">Growth Mindest
    <div class="tooltip-wrapper"><img class="growthmindset-tooltip" src="../../assets/img/reactvue.png" alt="growthmindset-tooltip"></div>
    </div>
</div>
    
</div>

</section>
