<section class="privacy-policy">
  <div class="content">
  <div class="privacy-policy-content">
    <a class="back" (click)="goBack()"
      ><img
        src="../../assets/img/arrow_back-green.png"
        alt="arrow_back-green"
      />{{ "back" | translate }}</a
    >
    <h2>{{ "privacypolicy-contactsection" | translate }}</h2>

    <h3>{{ "introduction" | translate }}</h3>
    <p>{{ "introductiontext" | translate }}</p>

    <h3>{{ "responsibleentity" | translate }}</h3>
    <p>{{ "responsibleentitydetails" | translate }}</p>

    <h3>{{ "collecteddata" | translate }}</h3>

    <h3>{{ "accessdata" | translate }}</h3>
    <p>{{ "accessdatadetails" | translate }}</p>

    <h3>{{ "contactform" | translate }}</h3>
    <p>{{ "contactformdetails" | translate }}</p>

    <h3>{{ "cookies" | translate }}</h3>
    <p>{{ "cookiesdetails" | translate }}</p>

    <h3>{{ "legalgroundsofprocessing" | translate }}</h3>
    <p>{{ "legalgroundsdetails" | translate }}</p>

    <h3>{{ "yourrights" | translate }}</h3>
    <p>{{ "yourrightsdetails" | translate }}</p>

    <h3>{{ "storageduration" | translate }}</h3>
    <p>{{ "storagedurationdetails" | translate }}</p>

    <h3>{{ "privacypolicychanges" | translate }}</h3>
    <p>{{ "privacypolicychangesdetails" | translate }}</p>

    <h3>{{ "contact" | translate }}</h3>
    <p>{{ "contactdetails" | translate }}</p>

    <h3>{{ "googlefonts" | translate }}</h3>
    <p>{{ "googlefontsdetails" | translate }}</p>
  </div>
</div>
</section>
