<div class="project-dialog">
    <div class="project-information">
        <h1>01</h1>
        <h2>Join</h2>
        <h3>Worum geht es in diesem Projekt?</h3>
        <p>Aufgabenmanager inspiriert vom Kanban-System. Erstellen und organisieren Sie Aufgaben mit Drag & Drop-Funktionen, weisen Sie Benutzer und Kategorien zu.</p>
        <div class="project-skills">
            <div class="single-skill">
                <img src="../../assets/img/htmlsmall-green.png" alt="htmlsmall-green">
                HTML
            </div>
            <div class="single-skill">
                <img src="../../assets/img/csssmall-green.png" alt="csssmall-green">
                CSS
            </div>
            <div class="single-skill">
                <img src="../../assets/img/javascriptsmall-green.png" alt="javascriptsmall-green">
                Javascript
            </div>
            <div class="single-skill">
                <img src="../../assets/img/firebasesmall-green.png" alt="firebasesmall-green">
                Firebase
            </div>
        </div>
        <div class="link-button-wrapper">
            <button class="link-button">GitHub <img src="../../assets/img/arrow_forward-green.png" alt="arrow_forward-green"></button>
            <button class="link-button">Live Test <img src="../../assets/img/arrow_forward-green.png" alt="arrow_forward-green"></button>
        </div>
    </div>
    <div class="project-screenshot">
    <img class="close-button" src="../../assets/img/close_small.png" alt="close_small">
    <img src="../../assets/img/join-big.png" alt="join">
    <div class="next-project">Next project <img src="../../assets/img/arrow_forward-green.png" alt="arrow_forward-green"></div>
</div>
</div>
