<section class="project-dialog-wrapper">
<div class="project-dialog" *ngIf="myProjects && myProjects.length > 0">
    <div class="project-information" *ngFor="let project of [myProjects[currentIndex]]">
        <div class="headline-wrapper">
        <h1>{{ project.position }}</h1>
        <h2>{{ project.name }}</h2>
    </div>
        <h3>Worum geht es in diesem Projekt?</h3>
        <p>{{ project.description }}</p>
        <div class="project-skills" >
            <div class="single-skill" *ngFor="let skill of project.skills">
                <img src="{{ skill.image }}" alt="htmlsmall-green">
                {{ skill.text }}
            </div>
        </div>
        <div class="link-button-wrapper" *ngFor="let link of project.links">
            <a href="{{ link.github }}" target="_blank"><button class="link-button">GitHub <img src="../../assets/img/arrow_forward-green.png" alt="arrow_forward-green"></button></a>
            <a href="{{ link.livetest }}" target="_blank"><button class="link-button">Live Test <img src="../../assets/img/arrow_forward-green.png" alt="arrow_forward-green"></button></a>
        </div>
    </div>
    <div class="project-screenshot" *ngFor="let project of [myProjects[currentIndex]]">
    <img class="close-button" src="../../assets/img/close_small.png" alt="close_small" (click)="close()">
    <img src="{{ project.screenshot }}" alt="project-screenshot">
    <div class="next-project" (click)="nextProject()">Next project <img src="../../assets/img/arrow_forward-green.png" alt="arrow_forward-green"></div>
</div>
</div>
</section>
