@import "../../styles.scss";

.legal-notice {
  width: 100%;
  background: linear-gradient(to right top, #1c1c1c, #08463b);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  > .content {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 72px 96px;
    overflow: hidden;
    > .legal-notice-content {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      > h2 {
        font-family: "Fira Code";
        font-weight: 700;
        font-size: 64px;
        color: $green;
        letter-spacing: -3px;
        margin: 0 0 32px 0;
      }
      > h3 {
        font-family: "Karla";
        font-weight: 500;
        font-size: 24px;
        color: $green;
        margin: 0 0 24px 0;
      }
      > p {
        width: 100%;
        height: fit-content;
        display: flex;
        gap: 24px;
        font-family: "Karla";
        font-weight: 400;
        font-size: 16px;
        color: #ffffffcc;
        margin: 0 0 24px 0;
      }
    }
  }

  .back {
    width: fit-content;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "Karla";
    font-weight: 400;
    font-size: 24px;
    color: $green;
    gap: 16px;
    margin: 0 0 72px 0;
    cursor: pointer;
    transition: all 0.25s ease-in-out;
    > img {
      width: 18px;
      height: 18px;
    }
    &:hover {
      color: white;
      > img {
        transition: all 0.25s ease-in-out;
        transform: translate(-4px) scale(1.2);
      }
    }
  }
}

@media screen and (max-width: 864px) {
  .legal-notice {
    > .content {
      padding: 72px 48px;
    }
  }
}

@media screen and (max-width: 430px) {
  .legal-notice {
    > .content {
      padding: 36px 24px;
    > .legal-notice-content {
      > h2 {
        font-size: 48px;
      }
      > h3 {
        font-size: 20px;
      }
      > p {
        font-size: 16px;
      }
    }
  }
}
}
