<section class="legal-notice">
  <div class="content">
  <div class="legal-notice-content">
    <a class="back" (click)="goBack()"
      ><img
        src="../../assets/img/arrow_back-green.png"
        alt="arrow_back-green"
      />{{ "back" | translate }}</a
    >
    <h2>{{ "legalnotice-footer" | translate }}</h2>
    <h3>{{ "legalnoticesubtitle" | translate }}</h3>

    <h3>{{ "websiteoperator" | translate }}</h3>
    <p>
      Sebastian Regending<br />
      Saint-Louis-Str. 13<br />
      79206 Breisach
    </p>
    <h3>{{ "contact" | translate }}:</h3>
    <p>
      {{ "phone" | translate }}: 0172 6500465<br />
      {{ "email" | translate }}: sebastian&#64;sebastian-regending.de
    </p>

    <h3>{{ "responsiblecontent" | translate }}</h3>
    <p>
      Sebastian Regending<br />
      Saint-Louis-Str. 13<br />
      79206 Breisach<br />
    </p>

    <h3>{{ "contentliability" | translate }}</h3>
    <p>{{ "contentliabilitydescription" | translate }}</p>

    <h3>{{ "linkliability" | translate }}</h3>
    <p>{{ "linkliabilitydescription" | translate }}</p>

    <h3>{{ "copyright" | translate }}</h3>
    <p>{{ "copyrightdescription" | translate }}</p>
  </div>
</div>
</section>
