<section id="aboutme">
    <div class="content">
    <div class="content-wrapper">
    <div class="profile-wrapper">
        <img class="slantedlines" src="../../assets/img/slantedlines.png" alt="slantedlines" [ngClass]="{'fade-out': hideSlantedLines}">
        <img class="profile" src="../../assets/img/profile.jpg" alt="profile" (mouseover)="showSlantedLinesBehindProfile()" (mouseout)="hideSlantedLinesBehindProfile()">
</div>
    <div class="aboutme-wrapper">
        <h2>{{ 'WhoIAm-aboutmesection' | translate }}</h2>
        <div class="aboutme-box">
            <h3>{{ 'Aboutme-aboutmesection' | translate }}</h3>
            <div class="box-content">
                <div class="introduction">{{ 'introduction-aboutmesection' | translate }}
                </div>
                    <p><img src="../../assets/img/location.png" alt="location">{{ 'location-aboutmesection' | translate }}</p>
                    <p><img src="../../assets/img/cognition.png" alt="location">{{ 'cognition-aboutmesection' | translate }}</p>
                    <p><img src="../../assets/img/hook.png" alt="location">{{ 'hook-aboutmesection' | translate }}</p>
            </div>
        </div>
    </div>
</div>
</div>
</section>
