<section id="aboutme">
<div class="content">
    <div class="profile-wrapper">
        <!-- <img class="slantedlines" src="../../assets/img/slantedlines.png" alt="slantedlines"> -->
        <img loading="lazy" class="profile" src="../../assets/img/profile.jpg" alt="profile">
</div>
    <div class="aboutme-wrapper">
        <h2>Wer ich bin</h2>
        <div class="aboutme-box">
            <h3>Über mich</h3>
            <div class="box-content">
                <div class="introduction">Hallo, ich bin ein deutschsprachiger Frontend-Entwickler mit Sitz in Breisach am Rhein. Motiviert von den grenzenlosen Möglichkeiten in der IT bin ich begeistert von der Gestaltung visuell ansprechender und intuitiver Websites und Anwendungen.
                </div>
                    <p><img src="../../assets/img/location.png" alt="location">Da ich hinsichtlich meiner Arbeitsumgebung flexibel bin, kann ich sowohl vor Ort in Breisach und Umgebung als auch remote effektiv arbeiten.</p>
                    <p><img src="../../assets/img/cognition.png" alt="location">Ich bin aufgeschlossen und suche immer nach persönlichen Herausforderungen, um mein Wissen und meine Fähigkeiten ständig zu verbessern.</p>
                    <p><img src="../../assets/img/hook.png" alt="location">In meinem Beruf geht es beim Programmieren nicht nur darum, Code zu schreiben; es ist eine kreative Form der Problemlösung. Ich bin stolz auf meine Fähigkeit, komplexe technische Herausforderungen in einfache, benutzerfreundliche Lösungen umzuwandeln. Auf diese Weise helfe ich Ihnen, Ihre Ziele zu erreichen und Ihre Visionen zum Leben zu erwecken.</p>
            </div>
        </div>
    </div>
</div>



</section>
