<footer class="footer">
<div class="footer-content">
    <div class="content-left">
        <img class="logo" src="" alt="logo">
        <div class="text-wrapper">
        <p>Web Developer</p>
        <p>Breisach Germany</p>
    </div>
    </div>
    <div class="copyright">&#169; Sebastian Regending 2025</div>
    <div class="content-right">
        <div class="link-wrapper">
        <div class="green-point"></div><a href="#">Github</a>
    </div>
    <div class="link-wrapper">
        <div class="green-point"></div><a href="#">Linkedin</a>
    </div>
    <div class="link-wrapper">
        <div class="green-point"></div><a href="#">Email</a>
    </div>
    <div class="link-wrapper">
        <div class="green-point"></div><a href="privacy-policy"> {{ 'legalnotice-footer' | translate }}</a>
    </div>
    </div>
</div>

</footer>
