<footer class="footer">
<div class="footer-content">
    <div class="content-left">
        <a href="#header"><img class="logo" src="" alt="logo"></a>
        <div class="text-wrapper">
        <p>Web Developer</p>
        <p>Breisach Germany</p>
    </div>
    </div>
    <div class="copyright">&#169; Sebastian Regending 2025</div>
    <div class="content-right">
        <div class="link-wrapper">
        <div class="green-point"></div><a href="https://github.com/SebastianRegending" target="_blank">Github</a>
    </div>
    <div class="link-wrapper">
        <div class="green-point"></div><a href="https://linkedin.com/in/sebastian-regending-084b9b31a" target="_blank">Linkedin</a>
    </div>
    <div class="link-wrapper">
        <div class="green-point"></div><a href="mailto:sebastian@sebastian-regending.de">Email</a>
    </div>
    <div class="link-wrapper">
        <div class="green-point"></div><a routerLink="/legal-notice"> {{ 'legalnotice-footer' | translate }}</a>
    </div>
    </div>
</div>
<div class="copyright-mobile d-none">&#169; Sebastian Regending 2025</div>

</footer>
